body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

header img {
    max-width: 100%;
    height: auto;
}

main {
    width: 70%;
    margin: 40px auto;
}

h1 {
    font-style: italic;
    color: darkolivegreen;
}

h2 {
    margin-top: 30px;
}

.icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

