body {
  margin: 0;
  font-family: 1em/1.5em Georgia, serif;
  background-color: #f2f4f4;
  color: #000;
}

/* Main image */
img {
  width: 100%;
  display: block;
}

/* Main content area */
main {
  width: 70%;
  margin: 40px auto;
}

/* Main heading */
h1 {
  font: italic bold 2rem Georgia, serif;
  color: darkolivegreen;
  margin-top: 2rem;
}

/* Section headings */
h2 {
  font-size: 1.25em;
  margin-top: 2rem;
}

/* Paragraph spacing */
p {
  line-height: 1.6;
}

/* Lists */
ul {
  margin-bottom: 1.5rem;
}

/* Footer section */
hr {
  margin: 2rem 0;
}

.icon {
  width: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
