body {
  background-color: #cdd78e;
  background-image: url("images/purpledot.png"), url("images/purpledot.png");
  background-repeat: repeat-y, repeat-y;
  background-position: left top, right top;
}
